<!DOCTYPE html>
<html>
  <head>
    <title>Payment Result</title>
  </head>
  <body>
    <h1>Payment Result</h1>
    <p>Your monthly payment is: <%= @payment.to_s(:currency) %></p>
    <p>Interest rate: <%= @interest_rate.to_s + '%' %></p>
  </body>
</html>
