<form action="/payment/result" method="post">
  <label for="apr">APR (Annual Percentage Rate):</label>
  <input id="apr" type="number" name="apr">
  <label for="years">Number of years:</label>
  <input id="years" type="number" name="years">
  <label for="present_value">Principal:</label>
  <input id="present_value" type="number" name="present_value">
  <button type="submit">Calculate Monthly Payment</button>
</form>
