<form action="/random/result" method="post">
  <label for="min">Minimum:</label>
  <input id="min" type="number" name="min">
  <label for="max">Maximum:</label>
  <input id="max" type="number" name="max">
  <button type="submit">Pick Random Number</button>
</form>
